# Tabular models

In [1]:
from fastai.tabular import *

In [15]:
doc(untar_data)

Tabular data should be in a Pandas `DataFrame`.

In [3]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [4]:
path

PosixPath('/root/.fastai/data/adult_sample')

In [19]:
df.shape

(32561, 15)

In [5]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [6]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [7]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [8]:
data.show_batch(rows=10)

In [9]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [10]:
learn.fit(1, 1e-2)

## Inference

In [11]:
row = df.iloc[0]

In [12]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.3871, 0.6129]))