In [2]:
from fastai import *          # Quick access to most common functionality
from fastai.tabular import *  # Quick access to tabular functionality
# from fastai.docs import *     # Access to example data provided with fastai

In [6]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [10]:
path

PosixPath('/root/.fastai/data/adult_sample')

In [9]:
train_df, valid_df = df[:-2000].copy(),df[-2000:].copy()
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [13]:
dep_var = '>=50k'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
data = TabularDataBunch.from_df(path, train_df, valid_df, dep_var, procs=[FillMissing, Categorify], cat_names=cat_names)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [4]:
from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn import metrics

In [5]:
data.train_ds.conts.shape, data.train_ds.cats.shape

(torch.Size([30561, 6]), torch.Size([30561, 9]))

In [6]:
cats,conts = data.train_ds.cats.numpy(), data.train_ds.conts.numpy()

In [7]:
df = np.concatenate((cats, conts), axis=1)

In [8]:
df.shape

(30561, 15)

In [9]:
y = data.train_ds.y.numpy()

In [10]:
m = RandomForestClassifier(n_jobs=-1)

In [11]:
m.fit(df, y)
m.score(df,y)

0.9880893949805307